<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <h3>Bài đăng</h3>
<table>
    <tr>
        <th>Stt</th>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
    </tr>
    <tr>
        <td>{{ 1 }}</th>
        <td><a href ="">{{post}}</a></td>
        <td>{{text}}</td>
    </tr>
<!--
    <tr>
        <td><strong>Chưa có bài đăng nào.</strong></td>
    </tr>-->
</table>
</body>
</html>
